* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    padding: 20px;
    border: 5px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header div {
    font-weight: bold;
    color: green;
}

nav {
    padding: 20px;
    border: 5px solid yellow;
    width: 50%;
    color: yellow;
}
main {
    padding: 20px;
    border: 5px solid green;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: green;
    margin-bottom: 20px;
}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

section {
    padding: 20px;
    border: 5px solid yellow;
    margin-bottom: 10px;
    font-weight: bold;
    color: yellow;
}

article {
    padding: 20px;
    border: 5px solid blue;
    margin-top: 10px;
    font-weight: normal;
    color: blue;
}
aside {
    padding: 20px;
    border: 5px solid yellow;
    width: 300px;
    font-weight: bold;
    color: yellow;
}

aside section {
    padding: 20px;
    border: 5px solid blue;
    margin-top: 10px;
    color: blue;
}


footer {
    padding: 20px;
    border: 5px solid green;
    font-weight: bold;
    color: green;
}

